:root {
  --primary-color: #f07400;
  --secondary-color: #333;
  --background-color: #0c0c0c;
  --text-color: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

body {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: url("/static/ghost-cursor.png") 16 16, auto;
  height: 100%;
}

main {
  padding: 100px 0;
  margin: 0 auto;
}

h1 {
  font-size: 2em;
  font-family: Tilt Prism;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
}

p {
  font-size: 1em;
}
header {
  width: 100%;
  margin: 0;
}

nav {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  height: 80px;
  background-color: var(--background-color);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: -6px;
  height: 100%;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
  line-height: 80px;
}

nav ul li a {
  display: inline-block;
  color: var(--text-color);
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
}

nav ul li a.active {
  background-image: linear-gradient(to top, #f07400, transparent);
  color: var(--text-color);
}

nav ul li.logo {
  margin: 0;
}

.quote-container {
  background-color: var(--text-color);
  color: var(--background-color);
  border-radius: 10px;
  padding: 30px;
  margin: 10px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}
.quote {
  font-size: 1.2em;
  margin-bottom: 10px;
}
.author {
  font-size: 1em;
  text-align: right;
  font-style: italic;
}

.quote {
  flex: 1;
}

#clock {
  font-size: 48px;
  font-family: "Tilt Prism";
  text-align: center;
  margin: 20px;
}

.naglowek {
  text-align: center;
}

.contener {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--primary-color);
  border-radius: 10px;
  margin: 10px auto;
  margin-top: 50px;
  padding: 10px;
  max-width: 610px;
}

.wishes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 100px;
}

.wishes-box {
  background-color: var(--text-color);
  color: var(--background-color);
  border-radius: 10px;
  padding: 30px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.wish {
  flex: 1 0 45%;
  margin: 10px;
}

.wish h3 {
  margin-top: 0;
  color: var(--primary-color);
}

.gradient-dark {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #f07400, transparent, #f07400);
  width: 100%;
  height: 100px;
  z-index: -1;
}

.logo {
  color: var(--primary-color);
  margin-right: 50px;
  font-family: Tilt Prism;
  margin-left: 50px;
  line-height: 80px;
}

.horizontal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  align-items: flex-start;
  max-height: 1000px;
  height: auto;
}

.quote-box {
  flex: 0 0 auto;
  width: 300px;
  margin-bottom: 10px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.quote-container-horizontal:last-child {
  margin-right: 0;
}

.box {
  margin-top: 150px;
}

#detal {
  text-align: center;
}

span {
  color: var(--primary-color);
}

.text-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 10px;
  margin: 0 auto;
  padding: 0 100px;
  overflow-x: auto;
  align-items: flex-start;
  height: 350px;
  width: 1000px;
  background-image: linear-gradient(to right, #0c0c0c, transparent, #0c0c0c);
}

.text-item {
  min-width: 300px;
  width: 70%;
  background-color: var(--text-color);
  padding: 20px;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 310px;
  color: var(--background-color);
  border-radius: 10px;
  z-index: -1;
}

.text-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  cursor: default;
}

.text-container::-webkit-scrollbar-track {
  background: var(--background-color);
  border-radius: 8px;
  cursor: default;
}

.text-container::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 8px;
  cursor: default;
}

#footer {
  clear: both;
  height: 29px;
  color: var(--background-color);
}
