<!DOCTYPE html>
<html lang="pl">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css')}}"
    />
    <link rel="icon" href="{{ url_for('static', filename= 'ghost.png')}}" />
    <script src="{{ url_for('static', filename= 'script.js')}}"></script>
    <title>{% block title %}Zabawna Zmora{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap" rel="stylesheet">    
  </head>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li ><a href="{{ url_for('home') }}" class="logo"><h1>Zabawna Zmora</h1></a></li>
          <li><a href="{{ url_for('home') }}" {% if active_page == 'home' %}class="active"{% endif %}>Home</a></li>
          <li><a href="{{ url_for('text') }}" {% if active_page == 'text' %}class="active"{% endif %}>Śmieszne zagadki</a></li>
          <li><a href="{{ url_for('zyczenia') }}" {% if active_page == 'zyczenia' %}class="active"{% endif %}>Życzenia z humorem</a></li>
        </ul>
      </nav>
    </header>
    {% block content %} 
   
  
    {% endblock %}
    <footer id="footer">
      <p>&copy; 2024 Urszula Łukaszek z zespołem. Wszystkie prawa zastrzeżone.</p>
  </footer>
  </body>
</html>